<div
     ngf-drop
     ng-model="files"
     ngf-drag-over-class="'dragover'"
     ngf-multiple="true"
     ngf-allow-dir="true"
     ngf-max-files="2000"
     accept="application/json"
     style="visibility: hidden; opacity: 0"
     ngf-pattern="'.json'"></div>

<div
        class="btn btn-success btn-block"
        ngf-select
        ng-model="files"
        ngf-multiple="true"
        ngf-max-files="2000"
        accept="application/json"
        ngf-pattern="'.json'">
    <i class="fa fa-upload"></i>&nbsp;Upload
</div>