<div>
    <!-- Builds into item icons -->
    <div class="ise-item-popover-builds-into" ng-show="items[item.into[0]] || items[item.into[1]]">
        <item ng-repeat="i in item.into" ng-if="items[i]" value="items[i]" size="24"></item>
    </div>

    <!-- Hierarchy chart display -->
    <div class="ise-item-popover-chart" ng-show="items"></div>

    <!-- Description -->
    <div ng-bind-html="description"></div>

    <!-- Gold -->
    <div class="ise-item-gold">{{item.gold.total}}</div>
    <div class="clearfix"></div>

    <!-- Hierarchy chart data (hidden) -->
    <ul class="ise-item-popover-hierarchy" ng-if="items" ng-init="loadChart()">
        <li>
            <item value="item"></item>
            <ul ng-if="item.from.length">
                <li ng-repeat="i1 in item.from track by $index">
                    <item value="items[i1]" size="24"></item>
                    <ul ng-if="items[i1].from.length">
                        <li ng-repeat="i2 in items[i1].from track by $index">
                            <item value="items[i2]" size="24"></item>
                            <ul ng-if="items[i2].from.length">
                                <li ng-repeat="i3 in items[i2].from track by $index">
                                    <item value="items[i3]" size="24"></item>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>