<div class="modal-header">
    <h3 class="modal-title">Welcome to LoL Item Set Editor</h3>
</div>
<div class="modal-body">
    Hello newcomer! This tool is made as a replacement for the Item Set Editor in the new client for League of Legends.
    <br/>
    <br/>
    I always liked using customized sets, so since the feature is gone for who-knows-how-long in the new client, here we are.
    If you were used to managing your Sets, you should find your marks easily. A few important things though:
    <ul>
        <li>This tool is web based only, <u>it cannot read or deploy your sets itself</u>.</li>
        <li>Item sets are stored within the League of Legends config directory. Usually it is located in <code>C:\Program Files(x86)\Riot Games\League of Legends\Config\</code></li>
        <li>To load your custom Sets into the tool, drop your folder on this window.</li>
        <li>To apply your Sets, click the download button and replace the Config folder with the content of the .zip archive.</li>
        <li>This tool will auto update itself every few hours, so you should see new patch items rather quickly. Current patch: {{version}}</li>
    </ul>

    Hope this can be of use to you, and best luck on the Rift! (unless you face me of course)
    <br/>
    <i>Cadrach, EUW</i>
    <br/>
    <br/>

    <div class="btn btn-success btn-block" ng-click="$close()">Take the tour!</div>
    <div class="btn btn-success btn-block" ng-click="$dismiss()">I don't need no tutorial!</div>
</div>
