<div class="modal-header">
    <h3 class="modal-title">4 ways to upload sets</h3>
</div>
<div class="modal-body">
    <div class="col-xs-5">
        <h2>Choose your method</h2>
        <ul class="nav nav-pills nav-stacked">
            <li class="{{interface.method==1 ? 'active':''}}"><a ng-click="interface.method=1"><i class="fa fa-arrows fa-fw"></i> Drag & Drop</a></li>
            <li class="{{interface.method==4 ? 'active':''}}"><a ng-click="interface.method=4"><i class="fa fa-globe fa-fw"></i> From a Web Site</a></li>
            <li class="{{interface.method==2 ? 'active':''}}"><a ng-click="interface.method=2"><i class="fa fa-file-zip-o fa-fw"></i> Zip file</a></li>
            <li class="{{interface.method==3 ? 'active':''}}"><a ng-click="interface.method=3"><i class="fa fa-database fa-fw"></i> JSON files</a></li>
        </ul>
    </div>
    <div class="col-xs-7">
        <div ng-show="interface.method==1">
            Easiest way is to drag&drop your <code>League of Legends/Config</code> folder shown below in your browser window
            <br/>
            <br/>
            <img src="app/image/way1_draganddrop.png"/>
        </div>
        <div ng-show="interface.method==2">
            If the drag&drop is not working, you can zip your Config folder, and upload it using the below button
            <br/>
            <br/>
            <div
                    class="btn btn-success btn-block"
                    ngf-select
                    ng-model="uploaded.files"
                    ngf-multiple="true"
                    ngf-max-files="1"
                    accept="application/zip"
                    ngf-pattern="'.zip'">
                <i class="fa fa-upload"></i>&nbsp;Upload .zip
            </div>
            <br/>
            <br/>
            <img src="app/image/way2_zip.png"/>
        </div>
        <div ng-show="interface.method==3">
            Finally, you can also drop single .json files.
            <br/>However to be identified, <u>they must either contain the name of the champion in the file name, or have been already exported from the Item Set Editor</u>.
            <br/>(Championify .json will work too)
            <br/>
            <br/>
            <div
                    class="btn btn-success btn-block"
                    ngf-select
                    ng-model="uploaded.files"
                    ngf-multiple="true"
                    ngf-max-files="3000"
                    accept="application/json"
                    ngf-pattern="'.json'">
                <i class="fa fa-upload"></i>&nbsp;Upload .json
            </div>
            <br/>
            <br/>
            <img src="app/image/way3_json.png"/>
        </div>
        <div ng-show="interface.method==4">
            You can import a build from a guide on the following websites:
            <div class="list-group">
                <a class="list-group-item" href="http://www.mobafire.com/league-of-legends/browse" target="_blank"><img src="app/image/icon_mobafire.png"/> Mobafire <i class="fa fa-external-link fa-lg pull-right"></i></a>
                <a class="list-group-item" href="http://www.lolking.net/guides/" target="_blank"><img src="app/image/icon_lolking.png"/> LoLKing <i class="fa fa-external-link fa-lg pull-right"></i></a>
            </div>

            If you would like to see other websites, <a href="https://github.com/Cadrach/lol_ise/issues" target="_blank">raise a ticket <i class="fa fa-external-link"></i></a>.
            <br/>
            <br/>
            The build(s) will be added to you current list of sets (it will not remove any existing sets, unlike other methods)
            <br/>
            <br/>
            <input class="form-control" placeholder="Paste your URL here" ng-model="interface.websiteUrl" select-on-click/>

            <div class="alert alert-danger" ng-show="interface.websiteUrlError">
                <h4><i class="fa fa-warning"></i> Unrecognized URL</h4>
                <b>Example URLs:</b>
                <br/>
                http://www.mobafire.com/league-of-legends/build/name-of-the-guide-124567
                <br/>
                http://www.lolking.net/guides/123456
            </div>

            <div ng-show="websiteImport.sets.length">
                <champion value="champions[websiteImport.sets[0].champion]"></champion>
                <div class="ise-modal-upload-website-sets">
                    <div ng-repeat="s in websiteImport.sets"><i class="fa fa-dot-circle-o"></i>&nbsp;{{s.title}}</div>
                </div>

                <div class="alert alert-danger" ng-show="websiteImport.errors.length">
                    <div ng-repeat="e in websiteImport.errors">
                        <i class="fa fa-exclamation-circle"></i>&nbsp;{{e}}
                    </div>
                </div>

                <div class="btn btn-success" ng-click="importWebSets()">Import {{websiteImport.sets.length}} Set{{websiteImport.sets>1?'s':''}}</div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
