<div class="modal-header">
    <h3 class="modal-title">3 ways to upload your sets</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-4">
            <h3>Method 1 - Drag & Drop</h3>
            Easiest way is to drag&drop your <code>League of Legends/Config</code> folder shown below in your browser window
        </div>
        <div class="col-xs-4">
            <h3>Method 2 - Zip file</h3>
            If the drag&drop is not working, you can zip your Config folder, and upload it using the below button
        </div>
        <div class="col-xs-4">
            <h3>Method 3 - JSON files</h3>
            Finally, you can also drop single .json files.
            <br/>However to be identified, <u>they must either contain the name of the champion in the file name, or have been already exported from the Item Set Editor</u>.
            <br/>(Championify .json will work too)
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <div
                class="btn btn-success btn-block"
                ngf-select
                ng-model="uploaded.files"
                ngf-multiple="true"
                ngf-max-files="1"
                accept="application/zip"
                ngf-pattern="'.zip'">
                <i class="fa fa-upload"></i>&nbsp;Upload .zip
            </div>
        </div>
        <div class="col-xs-4">
            <div
                    class="btn btn-success btn-block"
                    ngf-select
                    ng-model="uploaded.files"
                    ngf-multiple="true"
                    ngf-max-files="2000"
                    accept="application/json"
                    ngf-pattern="'.json'">
                <i class="fa fa-upload"></i>&nbsp;Upload .json
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-4">
            <img src="app/image/way1_draganddrop.png"/>
        </div>
        <div class="col-xs-4">
            <img src="app/image/way2_zip.png"/>
        </div>
        <div class="col-xs-4">
            <img src="app/image/way3_json.png"/>
        </div>
    </div>
</div>
