<div class="modal-header">
    <h3 class="modal-title">Changelog</h3>
</div>
<div class="modal-body" scrollable>
    <h3>Version 0.4</h3>
    <ul>
        <li>Added changelog popup on new version</li>
    </ul>
    <h3>Version 0.3</h3>
    <ul>
        <li>Add a way to manage global sets</li>
        <li>Allow uploading a .zip file</li>
        <li>Handle to drag & drop blocks</li>
        <li>Firefox support</li>
        <li>Fix scrollbar on blocks side when direct loading a set</li>
        <li>Allow specific items for champs (like Silver Serpent for Gangplank)</li>
    </ul>
</div>
<div class="modal-footer">
    <div class="btn btn-success btn-block" ng-click="$close()">OK</div>
</div>
