<div class="modal-header">
    <h3 class="modal-title">Add a new set</h3>
</div>
<div class="modal-body">

    <div class="col-xs-3 col-md-2">
        <champion class="{{set.champion == 'Global' ? 'selected':''}}" value="champions.Global" small="true" ng-click="addSet(champions.Global);$close();"></champion>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-3 col-md-2" ng-repeat="c in championsArray" ng-if="c.id!='Global'">
        <champion class="{{set.champion == c.id ? 'selected':''}}" value="c" small="true" ng-click="$close(c);"></champion>
    </div>
    <div class="clearfix"></div>
</div>
