<div class="modal-header">
    <h3 class="modal-title">Changelog</h3>
</div>
<div class="modal-body" scrollable>
    <h3>04/01/2017 - Version 0.7</h3>
    <ul>
        <li>Added "builds into" in item popover</li>
        <li>Added "Vision" & "Jungle" categories</li>
        <li>Jungle items should now filter correctly on AD/AP/HP/AS/CDR</li>
    </ul>
    <h3>03/01/2017 - Version 0.6</h3>
    <ul>
        <li>Added chart of build path for complex items</li>
    </ul>
    <h3>30/12/2016 - Version 0.5</h3>
    <ul>
        <li>Added a sharing link to share a set via an URL (<i class="fa fa-share-alt"></i> button)</li>
        <li>Increased maximum number of parsed files to 3000</li>
        <li>Deprecated items will no longer show when loading old sets</li>
        <li>Sets will now try to keep the filename they were loaded with (when loaded and not created ad hoc)</li>
    </ul>
    <h3>25/12/2016 - Version 0.4</h3>
    <ul>
        <li>Added advanced menu for sets (<i class="fa fa-cogs"></i> button)</li>
        <li>Added changelog popup when releasing a new version (what you are seeing right now)</li>
        <li>Added possibility to direct download one json file</li>
        <li>Added possibility to duplicate set for another champion</li>
        <li>Allow champion specific items for global sets</li>
        <li>Display price in item popup</li>
        <li>Changed application icon to not use the League of Legends logo</li>
        <li>Added disclaimer about Riot on the help/welcome screen</li>
        <li>Faster scrolling of item list</li>
        <li>Pixel perfect correction when filtering items</li>
        <li>Improve readability of item filters</li>
        <li>Changed Korean language name to 한국어</li>
    </ul>
    <h3>23/12/2016 - Version 0.3</h3>
    <ul>
        <li>Add a way to manage global sets</li>
        <li>Allow uploading a .zip file</li>
        <li>Handle to drag & drop blocks</li>
        <li>Firefox support</li>
        <li>Fix scrollbar on blocks side when direct loading a set</li>
        <li>Allow specific items for champs (like Silver Serpent for Gangplank)</li>
    </ul>
</div>
<div class="modal-footer">
    <div class="btn btn-success btn-block" ng-click="$close()">OK</div>
</div>
