<div class="modal-header">
    <h3 class="modal-title">Changelog</h3>
</div>
<div class="modal-body" scrollable>
    <h3>03/05/2017 - Version 0.15</h3>
    <ul>
        <li>Fix downloading on Vivaldi browser</li>
        <li>Hard limit of 2000 files removed. Instead will display a confirmation message when trying to upload more than 2000 files.</li>
        <li>Detecting "type:'global'" for some edge case of global sets stored by Riot in champions folders.</li>
    </ul>
    <h3>20/04/2017 - Version 0.14</h3>
    <ul>
        <li>Display gold total for each block</li>
        <li>You can now get statistics for a block by clicking on the <i class="fa fa-bar-chart"></i>&nbsp;button on the block. Be aware that these stats are incomplete, since the Riot API does not give structured stats for some attributes (MP5 and HP5 for example)</li>
    </ul>
    <h3>19/04/2017 - Version 0.13</h3>
    <ul>
        <li>You can now import builds from <img src="app/image/icon_lolalytics.png"/> LoLalytics</li>
    </ul>
    <h3>05/04/2017 - Version 0.12</h3>
    <ul>
        <li>Fix folder structure when downloading a .zip file</li>
    </ul>
    <h3>01/04/2017 - Version 0.11</h3>
    <ul>
        <li>Scrollable when list of shared champions too long</li>
        <li>Download item-set on Firefox works again</li>
        <li>Better display of popover for items in blocks</li>
    </ul>
    <h3>15/02/2017 - Version 0.10</h3>
    <ul>
        <li>You can now create Sets used by multiple Champions (Use "Add another champion" with the <i class="fa fa-cogs"></i> button)</li>
        <li>You can now delete all sets from a Champion</li>
        <li>Fixed downloading for Opera browser</li>
        <li>Confirmation boxes are now built-in, to avoid the browser hiding them</li>
        <li>Fixed creation of Global sets</li>
    </ul>
    <h3>15/01/2017 - Version 0.9</h3>
    <ul>
        <li>Fixed an issue with Riot default item sets not behaving correctly</li>
    </ul>
    <h3>07/01/2017 - Version 0.8</h3>
    <ul>
        <li>You can now import builds from <img src="app/image/icon_mobafire.png"/> Mobafire</li>
        <li>You can now import builds from <img src="app/image/icon_lolking.png"/> LoLKing</li>
        <li>New layout for the Upload page</li>
    </ul>
    <h3>05/01/2017 - Version 0.7</h3>
    <ul>
        <li>Adding a new Set now loads the default recommended set for Summoner Rift</li>
        <li>New menu to import a recommended item set for a champion (<i class="fa fa-cogs"></i> button)</li>
        <li>Added "builds into" in item popover</li>
        <li>Added "Vision" & "Jungle" categories</li>
        <li>Jungle items should now filter correctly on AD/AP/HP/AS/CDR</li>
        <li>Fixed scrolling issue when adding the first set to the tool</li>
    </ul>
    <h3>03/01/2017 - Version 0.6</h3>
    <ul>
        <li>Added chart of build path for complex items</li>
    </ul>
    <h3>30/12/2016 - Version 0.5</h3>
    <ul>
        <li>Added a sharing link to share a set via an URL (<i class="fa fa-share-alt"></i> button)</li>
        <li>Increased maximum number of parsed files to 3000</li>
        <li>Deprecated items will no longer show when loading old sets</li>
        <li>Sets will now try to keep the filename they were loaded with (when loaded and not created ad hoc)</li>
    </ul>
    <h3>25/12/2016 - Version 0.4</h3>
    <ul>
        <li>Added advanced menu for sets (<i class="fa fa-cogs"></i> button)</li>
        <li>Added changelog popup when releasing a new version (what you are seeing right now)</li>
        <li>Added possibility to direct download one json file</li>
        <li>Added possibility to duplicate set for another champion</li>
        <li>Allow champion specific items for global sets</li>
        <li>Display price in item popup</li>
        <li>Changed application icon to not use the League of Legends logo</li>
        <li>Added disclaimer about Riot on the help/welcome screen</li>
        <li>Faster scrolling of item list</li>
        <li>Pixel perfect correction when filtering items</li>
        <li>Improve readability of item filters</li>
        <li>Changed Korean language name to 한국어</li>
    </ul>
    <h3>23/12/2016 - Version 0.3</h3>
    <ul>
        <li>Add a way to manage global sets</li>
        <li>Allow uploading a .zip file</li>
        <li>Handle to drag & drop blocks</li>
        <li>Firefox support</li>
        <li>Fix scrollbar on blocks side when direct loading a set</li>
        <li>Allow specific items for champs (like Silver Serpent for Gangplank)</li>
    </ul>
</div>
<div class="modal-footer">
    <div class="btn btn-success btn-block" ng-click="$close()">OK</div>
</div>
