$icon-font-path: '../bower/bootstrap-sass/assets/fonts/bootstrap/';
$tooltip-bg: #0b3240;
$popover-border-color: #dabf7f;
$popover-arrow-color: $popover-border-color;
$dropdown-border: $popover-border-color;
$list-group-bg: rgba(0,102,138,1);
$list-group-hover-bg: $popover-border-color;
$list-group-border: $popover-border-color;

@import "../bower/html5-boilerplate/dist/css/normalize.css";
@import "../bower/html5-boilerplate/dist/css/main.css";
@import "../bower/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower/angular-ui-select/dist/select.min.css";
@import "../bower/angular-bootstrap/ui-bootstrap-csp.css";
@import "../bower/font-awesome/css/font-awesome.min.css";
@import "../bower/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css";
@import "../bower/intro.js/minified/introjs.min.css";