<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img src="app/image/icon-game-lol.png">
                LoL Item Set Editor - {{version}}
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://github.com/Cadrach/lol_ise/issues" target="_blank"><i class="fa fa-bug"></i>&nbsp;{{translate('Bugs')}}</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-question-circle"></i>&nbsp;{{translate('Help')}}</a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle>
                    <img ng-src="app/image/flags/{{language}}.png"/> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="lg in languages">
                        <a href="#!/editor/{{lg}}">
                            <img class="pull-left" ng-src="app/image/flags/{{lg}}.png"/>&nbsp;{{translate('native_'+lg)}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<set-dropper sets="sets" style="visibility: hidden; opacity: 0"></set-dropper>

<div class="col-xs-2 ise-champions-list">
    <h2 class="ise-title-champion">{{translate('Sets')}}</h2>

    <set-downloader sets="sets"></set-downloader>

    <br/>

    <div class="btn btn-success btn-block" ng-click="openModalAddSet()">New Set</div>

    <br/>

    <div scrollable autosize-from-top>
        <div class="ise-champions-sets" ng-repeat="champSets in setsArray" ng-if="champions[champSets[0].champion]">
            <champion value="champions[champSets[0].champion]" small="true" ng-click="selectSet(champSets[0])"></champion>
            <div class="list-group" ng-if="champion == champSets[0].champion">
                <div class="list-group-item {{s==set?'active':''}}" ng-repeat="s in champSets" ng-click="selectSet(s)">
                    {{s.title}}
                    <div class="btn btn-xs btn-danger" ng-click="removeSet(s, $event)">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 ise-items-list">
    <h2 class="ise-title-items">
        {{translate('categoryItem')}}
        <div class="btn btn-default pull-right" ng-show="isFilteredItemList()" ng-click="resetFilters()">
            <i class="fa fa-refresh"></i>
        </div>
    </h2>

    <input class="form-control" ng-model="filters.string" type="text" placeholder="Filter Items"/>

    <div class="ise-item-tags row">
        <div class="col-xs-3 col-lg-2" ng-repeat="tag in tags|orderBy:['sort','label']">
            <div class="ise-checkbox">
                <input id="check{{$index}}" ng-model="filters.tags[tag.code]" type="checkbox">
                <label for="check{{$index}}"><span></span>{{tag.label}}</label>
            </div>
        </div>
    </div>

    <div scrollable autosize-from-top>
        <div ui-sortable="draggable" ng-model="itemsArray">
            <item value="item" ng-repeat="item in itemsArray" ng-show="isShownItem(item)"></item>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-xs-4 ise-set" ng-show="set">

    <h2 class="ise-title-set">{{translate('Details_')}}&nbsp;<span class="ise-sub-title">{{set.title}}</span></h2>

    <champion value="champions[set.champion]"></champion>

    <input class="form-control" ng-model="set.title" type="text"/>
    <select class="form-control" ng-model="set.map" ng-options="key as map.name for (key, map) in maps"></select>

    <br/>

    <div class="btn btn-success btn-block" ng-click="addBlock()">New Block</div>

    <br/>
    <div scrollable autosize-from-top>
        <div class="ise-block" ng-repeat="block in set.blocks">

            <div class="ise-block-items">
                <input class="form-control" ng-model="block.type" type="text"/>

                <div class="btn btn-default pull-right" ng-click="removeBlock(block)">
                    <i class="fa fa-trash"></i>
                </div>

                <div class="ise-block-items-dropzone" ui-sortable="sortable" ng-model="block.items">
                    <item value="items[item.id]" count="item.count" ng-repeat="item in block.items">
                        <div class="btn btn-xs btn-danger" ng-click="removeItemFromBlock(block, item, $event)">
                            <i class="fa fa-trash"></i>
                        </div>
                    </item>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--<pre>{{setsArray|json}}</pre>-->
<!--<pre>{{tags|json}}</pre>-->