<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                <img src="app/image/icon-game-lol.png">
                LoL Item Set Editor - {{version}}
            </span>
        </div>

        <ul class="nav navbar-nav navbar-right" intro="navbar">
            <li>
                <a href="https://github.com/Cadrach/lol_ise/issues" target="_blank"><i class="fa fa-bug"></i>&nbsp;{{translate('Bugs')}}</a>
            </li>
            <li>
                <a ng-click="openModalHelp()"><i class="fa fa-question-circle"></i>&nbsp;{{translate('Help')}}</a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle>
                    <img ng-src="app/image/flags/{{language}}.png"/> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="lg in languages">
                        <a href="#!/editor/{{lg}}">
                            <img class="pull-left" ng-src="app/image/flags/{{lg}}.png"/>&nbsp;{{translate('native_'+lg)}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="ise-code-version" ng-click="openModalVersion()">
            {{codeVersion}}
        </div>
    </div>
</nav>

<div class="col-xs-2 ise-champions-list">
    <h2 class="ise-title-champion">{{translate('Sets')}}</h2>

    <set-dropper sets="sets" multi-sets="multiSets" champions="champions"></set-dropper>

    <br/>

    <set-downloader sets="sets" multi-sets="multiSets" champions="champions"></set-downloader>

    <br/>

    <div class="btn btn-success btn-block" ng-click="openModalAddSet()" intro="new-set">
        <i class="fa fa-plus-circle"></i> New Set
    </div>

    <br/>

    <div scrollable autosize-from-top intro="champions">
        <div class="ise-champions-sets" ng-repeat="champSets in setsArray" ng-if="champions[champSets[0].champion]">

            <champion value="champions[champSets[0].champion]" small="true" ng-click="selectSet(champSets[0])">
                <div class="btn btn-xs btn-danger float-right" ng-click="removeSets(champSets[0].champion)">
                    <i class="fa fa-trash"></i>
                </div>
            </champion>

            <div class="list-group" ng-if="champion == champSets[0].champion">
                <div class="list-group-item {{s==set?'active':''}}" ng-repeat="s in champSets" ng-click="selectSet(s)">
                    {{s.title}}
                    <div class="btn btn-xs btn-danger" ng-click="removeSet(s)">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 ise-items-list" intro="items">
    <h2 class="ise-title-items">
        {{translate('categoryItem')}}
        <div class="btn btn-default pull-right" ng-show="isFilteredItemList()" ng-click="resetFilters()">
            <i class="fa fa-refresh"></i>
        </div>
    </h2>

    <input class="form-control ise-filter-string" ng-model="filters.string" type="text" placeholder="Filter Items"/>

    <div class="ise-item-tags row">
        <div class="col-xs-3 col-lg-2" ng-repeat="tag in tags|orderBy:['sort','label']">
            <div class="ise-checkbox">
                <input id="check{{$index}}" ng-model="filters.tags[tag.code]" type="checkbox">
                <label for="check{{$index}}"><span></span>{{tag.label}}</label>
            </div>
        </div>
    </div>

    <div scrollable="{scrollInertia: 50}" autosize-from-top>
        <div ui-sortable="draggable" ng-model="itemsArray">
            <item value="item" items="items" ng-repeat="item in itemsArray" ng-show="isShownItem(item)"></item>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="col-xs-4 ise-set" ng-show="set" intro="block-set">

    <h2 class="ise-title-set">
        {{translate('Details_')}}&nbsp;<span class="ise-sub-title">{{set.title}}</span>

        <div class="pull-right">

            <!-- Button to share the set -->
            <div class="btn btn-default" ng-click="openModalSharing()" uib-tooltip="Share this Set"><i class="fa fa-share-alt"></i></div>

            <!-- Button for advanced options for the set -->
            <div class="dropdown pull-right" uib-dropdown dropdown-append-to-body="true" intro="set-advanced">
                <div class="btn btn-default" uib-dropdown-toggle>
                    <i class="fa fa-cogs"></i>
                </div>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
                    <li ng-click="multiplySet()"><a><i class="fa fa-fw fa-plus-square"></i>&nbsp;Add another Champion</a></li>
                    <li ng-click="duplicateSet()"><a><i class="fa fa-fw fa-copy"></i>&nbsp;Duplicate for another Champion</a></li>
                    <li ng-click="downloadJson()"><a><i class="fa fa-fw fa-download"></i>&nbsp;Download <b>.json</b> file</a></li>
                    <li ng-click="openModalImportRecommended()"><a><i class="fa fa-fw fa-map-signs"></i> Import {{translate('RecommendedItems')}}</a></li>
                    <!--<li class="divider"></li>-->
                </ul>
            </div>

        </div>
    </h2>

    <div intro="set-info">
        <champion value="champions[set.champion]"></champion>

        <input class="form-control" ng-model="set.title" type="text"/>

        <ui-select ng-model="set.map" append-to-body="true">
            <ui-select-match placeholder="Select map">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="map.setCode as map in mapsArray">
                {{map.name}}
            </ui-select-choices>
        </ui-select>

        <!-- SHARED SETS -->
        <div class="ise-shared-sets" ng-if="set.multipleId">
            <div>Shared with {{multiSets[set.multipleId].length - 1}} champions:</div>
            <div class="ise-shared-sets-scrollable" scrollable>
                <champion
                        value="champions[s.champion]"
                        small="true"
                        ng-repeat="s in multiSets[set.multipleId]"
                        ng-if="s!=set">
                    <div class="btn btn-xs btn-danger" ng-click="removeSet(s)">
                        <i class="fa fa-trash"></i>
                    </div>
                </champion>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <br/>

    <div class="btn btn-success btn-block" ng-click="addBlock()" intro="set-new-block"><i class="fa fa-plus-circle"></i> New Block</div>

    <br/>
    <div scrollable autosize-from-top>
        <div intro="set-blocks" ui-sortable="sortableBlocks" ng-model="set.blocks">
            <div class="ise-block" ng-repeat="block in set.blocks">

                <div class="ise-block-items">

                    <div class="ise-drag-handle pull-left">
                        <i class="fa fa-sort"></i>
                    </div>

                    <input class="form-control" ng-model="block.type" type="text"/>

                    <div class="btn btn-default pull-right" ng-click="removeBlock(block)">
                        <i class="fa fa-trash"></i>
                    </div>

                    <div class="btn btn-default pull-right" ng-click="openModalBlockStats(block)" uib-tooltip="{{translate('Block statistics')}}" tooltip-append-to-body="true">
                        <i class="fa fa-bar-chart"></i>
                    </div>

                    <div class="clearfix"></div>

                    <div class="ise-block-items-dropzone" ui-sortable="sortable" ng-model="block.items">
                        <item value="items[item.id]" items="items" count="item.count" ng-repeat="item in block.items" ng-show="items[item.id]">
                            <div class="btn btn-xs btn-danger" ng-click="removeItemFromBlock(block, item, $event)">
                                <i class="fa fa-trash"></i>
                            </div>
                        </item>

                        <div class="ise-block-stats">
                            <div class="ise-block-stats-gold">{{itemsPrice(block.items)|number}}</div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!-- Used for single JSON download -->
<a id="jsonDownloader" style="display:none"></a>

